StationsAPIs__StationInformationAPI=https://gbfs.lyft.com/gbfs/2.3/bkn/en/station_information.json
StationsAPIs__StationStatusAPI=https://gbfs.lyft.com/gbfs/2.3/bkn/en/station_status.json
StationsAPIs__VehicleTypesAPI=https://gbfs.lyft.com/gbfs/2.3/bkn/en/vehicle_types.json
StationsAPIs__StationInformationKeyPath__0=data
StationsAPIs__StationInformationKeyPath__1=stations
StationsAPIs__StationStatusKeyPath__0=data
StationsAPIs__StationStatusKeyPath__1=stations
StationsAPIs__VehicleTypesKeyPath__0=data
StationsAPIs__VehicleTypesKeyPath__1=vehicle_types


