KafkaTopicsConfiguration__StationInformationTopicName=bike.station-information
KafkaTopicsConfiguration__StationStatusTopicName=bike.station-status
KafkaTopicsConfiguration__VehicleTypesTopicName=bike.vehicle-types